@import url("./font.css");
* {
    margin: 0px;
    padding: 0px;
    color: rgb(242, 245, 247);
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    text-rendering: optimizelegibility;
    overflow-x: hidden;
    font-family: changa;
    background: rgb(10, 9, 9);
}
/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
section{
    padding: 8rem 0;
}
h2{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0rem;
    font-size: 3.6rem;
}
 h2::after {
    content: "";
    display: block;
    width: 20rem;
    height: .2rem;
    background: #2663D1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
h3{
    color: #fff;
}
/* global btn */
.global_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15.9rem;
    height: 3.8rem;
    font-weight: 200;
    background: linear-gradient(to right, rgba(39, 68, 235, 0.733), rgba(71, 83, 255, 0.753), rgb(40, 70, 235), rgb(39, 70, 235)) 0% 0% / 600% 600%;
    border: 1px solid transparent;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 3rem;
    margin: 0px;
    animation: 30s linear 0s infinite normal none running gradient;
    -webkit-animation: 30s linear 0s infinite normal none running gradient;
    background: #000;
}

.global_btn:hover {
    background: linear-gradient(to right, cornflowerblue, aqua, deeppink, cornflowerblue) 0% 0% / 600% 600%;
    animation: 20s linear 0s infinite normal none running gradient;
    font-weight: 400;
    filter: drop-shadow(cornflowerblue 0px 0px 30px);
    -webkit-animation: 20s linear 0s infinite normal none running gradient;
}

.global_btn::before {
    background-color: transparent !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 600% 50%;
    }
}

.cydog_apps_img{
    width: 40rem;
}


/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

/* 
---------------------------------------------
header  styles
--------------------------------------------- 
*/
nav {
    position: fixed;
    height: 8rem;
    width: 100vw;
    background-color: rgb(25 25 28 / 78%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px;
    /*box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px;
    */display: flex;
    z-index: 10;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
}
.nav_bg_adder{
    background-color: #2663D1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px;
}
nav .logo_link {
    text-decoration: none;
}

.logo {
    padding: 1vh 1vw;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 5rem;
    width: 5rem;
    margin-top: 1.3rem;
}

.logo .logo_text {
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    width: 14rem;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0px 0.7vw;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    margin-top: 1.2rem;
}

.nav-links li a {
    text-decoration: none;
    margin: 0px 0.7vw;
    color: rgb(237, 237, 237);
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.nav-links li {
    position: relative;
    margin-left: 1rem;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 0.3rem;
    width: 0%;
    background-color: rgb(39, 70, 235);
    position: absolute;
    margin: -4px 0px 0px 10%;
    transition: all 250ms ease-in-out 0s;
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
}

.nav-links li a:hover::before {
    width: 80%;
}

.nav-links li.download_item a::before {
    background-color: transparent;
}

.hamburger div {
    width: 3rem;
    height: 0.3rem;
    background: rgb(242, 245, 247);
    margin: 0.5rem;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1024px) {
    nav {
        position: fixed;
        z-index: 3;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        z-index: 2;
        transition: all 0.7s ease 0s;
        transform: translate(-5%, -50%);
        -webkit-transform: translate(-5%, -50%);
        -moz-transform: translate(-5%, -50%);
        -ms-transform: translate(-5%, -50%);
        -o-transform: translate(-5%, -50%);
        -webkit-transition: all 0.7s ease 0s;
        -moz-transition: all 0.7s ease 0s;
        -ms-transition: all 0.7s ease 0s;
        -o-transition: all 0.7s ease 0s;
}
    .nav-links {
        position: fixed;
        top: -2rem;
        background: rgb(19, 20, 24);
        /* background: #2663D1; */
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -10%);
        pointer-events: none;
        justify-content: center;
        transition: all 1s ease-out 0s;
        -webkit-transition: all 1s ease-out 0s;
        -moz-transition: all 1s ease-out 0s;
        -ms-transition: all 1s ease-out 0s;
        -o-transition: all 1s ease-out 0s;
}
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
        -webkit-transition: all 0.5s ease 0.2s;
        -moz-transition: all 0.5s ease 0.2s;
        -ms-transition: all 0.5s ease 0.2s;
        -o-transition: all 0.5s ease 0.2s;
}
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
        -webkit-transition: all 0.5s ease 0.4s;
        -moz-transition: all 0.5s ease 0.4s;
        -ms-transition: all 0.5s ease 0.4s;
        -o-transition: all 0.5s ease 0.4s;
}
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
        -webkit-transition: all 0.5s ease 0.6s;
        -moz-transition: all 0.5s ease 0.6s;
        -ms-transition: all 0.5s ease 0.6s;
        -o-transition: all 0.5s ease 0.6s;
}
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
        -webkit-transition: all 0.5s ease 0.7s;
        -moz-transition: all 0.5s ease 0.7s;
        -ms-transition: all 0.5s ease 0.7s;
        -o-transition: all 0.5s ease 0.7s;
}
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
        -webkit-transition: all 0.5s ease 0.8s;
        -moz-transition: all 0.5s ease 0.8s;
        -ms-transition: all 0.5s ease 0.8s;
        -o-transition: all 0.5s ease 0.8s;
}
    .nav-links li:nth-child(6) {
        margin: 0px;
        transition: all 0.5s ease 0.9s;
        -webkit-transition: all 0.5s ease 0.9s;
        -moz-transition: all 0.5s ease 0.9s;
        -ms-transition: all 0.5s ease 0.9s;
        -o-transition: all 0.5s ease 0.9s;
}
    .nav-links li:nth-child(7) {
        margin: 0px;
        transition: all 0.5s ease 1s;
        -webkit-transition: all 0.5s ease 1s;
        -moz-transition: all 0.5s ease 1s;
        -ms-transition: all 0.5s ease 1s;
        -o-transition: all 0.5s ease 1s;
}
    .nav-links li a {
        font-size: 1.4rem;
        display: inline-block;
        padding: 1rem 0px;
        color: rgb(242, 245, 247) !important;
    }
    li.fade {
        opacity: 1 !important;
    }
    .nav-links li .buttons-container .global_btn {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        margin: 1rem 0px !important;
        text-align: center !important;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    -moz-transform: rotate(-45deg) translate(-5px, 6px);
    -ms-transform: rotate(-45deg) translate(-5px, 6px);
    -o-transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    width: 0px;
    transition: all 0.7s ease 0s;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    -moz-transform: rotate(45deg) translate(-5px, -6px);
    -ms-transform: rotate(45deg) translate(-5px, -6px);
    -o-transform: rotate(45deg) translate(-5px, -6px);
}






/* 
---------------------------------------------
header  styles
--------------------------------------------- 
*/



/* 
---------------------------------------------
main css
--------------------------------------------- 
*/



/* 
---------------------------------------------
cydog banner css
--------------------------------------------- 
*/

#cydog_banner_area {
    background: linear-gradient(116deg, rgb(38, 99, 209), rgb(38, 99, 209), rgb(38, 99, 209));
    padding: 24rem 0  6rem 0 ;
    position: relative;
   
}

#cydog_banner_area h1 {
    text-transform: capitalize;
    font-size: 5rem;
    font-weight: 600;
}

#cydog_banner_area .short_info{
    font-size: 2.3rem;
    font-weight: 500;
}

#cydog_banner_area .buttons-container {
    display: flex;
    justify-content: center;
}
#cydog_banner_area .buttons-container .banner_btn_download{
    width: 35rem;
    height: 6rem;
    position: relative;
    border: none;
    outline: none;
    margin: 3rem 3rem 0 0;

}
#cydog_banner_area .buttons-container a{
    text-decoration: none;
}
#cydog_banner_area .buttons-container .banner_btn_download:hover{
    background-color: transparent !important;
   
}
#cydog_banner_area .buttons-container .banner_btn_download{
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
}
#cydog_banner_area .buttons-container .banner_btn_download .fa-download{
    position: absolute;
    right: 2rem;
    font-size: 2rem;
}
#cydog_banner_area .cydog_dhasboard,
#cydog_banner_area .cydog_search_bar{
    margin-top: 7rem;
}
#cydog_banner_area .waves_{
    position: absolute;
    width: 100%;
    height: 12rem;
    bottom: -12rem;
}
/* responsive css */
@media screen and (max-width:992px){
    #cydog_banner_area .buttons-container .banner_btn_download a {
      font-size: 1.4rem;
}
#cydog_banner_area .buttons-container .banner_btn_download .fa-download {
     font-size: 1.2rem;
}
}
@media screen and (max-width: 768px){
    #cydog_banner_area{
        padding-top: 16rem;
    }
    #cydog_banner_area h1{
        font-size: 4rem;
    }
    #cydog_banner_area .buttons-container .banner_btn_download{
        width: 30rem;
        margin-right: 0;
    }
    #cydog_banner_area .buttons-container .banner_btn_download .fa-download{
        right: 4rem;
    }
    #cydog_banner_area .cydog_dhasboard,
    #cydog_banner_area .cydog_search_bar{
    width: 23rem;
    margin-top: 7rem;
}
#cydog_banner_area .waves_{
    bottom: -11.8rem;
}
}
@media screen and (max-width: 576px){
    #cydog_banner_area h1{
        font-size: 3rem;
    }
    #cydog_banner_area .short_info{
        font-size: 1.6rem;
        line-height: 1.2;
    }
    #cydog_banner_area .cydog_dhasboard,
    #cydog_banner_area .cydog_search_bar{
    width: 20rem;
}
}

@media screen and (max-width:320px){
    #cydog_banner_area .buttons-container .banner_btn_download{
        font-size: 1.2rem;
    }
    #cydog_banner_area .buttons-container .banner_btn_download .fa-download {
        font-size: .8rem;
        position: static;
    }
}
/* 
---------------------------------------------
cydog banner css
--------------------------------------------- 
*/







/* 
---------------------------------------------
why cydog browser css
--------------------------------------------- 
*/

#why_cydog_browser {
	padding: 12rem 0 5rem 0;
	background: rgb(10, 9, 9);
}

#why_cydog_browser h2 {
	margin-bottom: 3rem;
}

.slick-next {
	right: -1rem;
}
.slick-prev{
left: -2rem;
}
.slick-prev:before,
.slick-next:before {
	font-size: 3.2rem !important;
}

.slick-dots li button:before {
	font-size: 1.4rem !important;
}

#why_cydog_browser .card {
    height: 34.0rem !important;
    background-color: #97b9de;
    background-image: linear-gradient( 145deg, #1b2137, #2663d1);
    box-shadow: 0 .2rem .4rem 0 rgb(136 144 195 / 20%), 0 5px 1.5rem 0 rgb(37 44 97 / 15%);
    border-radius: 1.5rem;
    margin: 0 1rem;
    border-radius: .7rem;
    text-align: center;
    transition: transform 0.2s ;
}
#why_cydog_browser .card:hover{
    transform: scale(0.99);
    color: #fff;
    z-index: 9;
    background-color: #97b9de;
    background-image: linear-gradient( 145deg, #1b2137, #354069);
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
}
#why_cydog_browser .template-demo{
    padding: 2rem 0;
}

#why_cydog_browser .card .template-demo .cydog_security_info_img {
	width: 8rem;
	margin-bottom: 1rem;
	opacity: 0.7;
}

#why_cydog_browser .card .template-demo .cydog_security_title {
	color: #fff;
	font-size: 2.6rem;
	font-family: 'Poppins', sans-serif;
}

#why_cydog_browser .card .template-demo .cydog_security_short_info {
	color: #e9ecf5c7;
	font-size: 1.3rem;
	margin-top: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	line-height: 1.5;
}

/* responsive css */
@media screen and (max-width: 576px){
    #why_cydog_browser{
        padding-bottom: 1rem;
    }
#why_cydog_browser .card {
    height: 23.1rem !important;
}
#why_cydog_browser .card .template-demo .cydog_security_title {
    font-size: 1.9rem;
}
#why_cydog_browser .card .template-demo .cydog_security_short_info {
    font-size: 1.4rem;
    line-height: 1.7rem;
}
#why_cydog_browser .card .template-demo .cydog_security_info_img {
    width: 4rem;
}

}
@media only screen and (max-width: 325px) {
	#why_cydog_browser .card .template-demo .cydog_security_short_info {
		font-size: .9rem !important;
	}
 
	
}

/* 
---------------------------------------------
why cydog browser css
--------------------------------------------- 
*/




























/* 
---------------------------------------------
cydog browser presentation
--------------------------------------------- 
*/

#cydog_presentation{
    padding: 4rem 0 4rem 0;
    background: rgb(10 9 9);
}
#cydog_presentation h2{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0rem;
    font-size: 3.6rem;
}
#cydog_presentation h2::after {
    content: "";
    display: block;
    width: 20rem;
    height: .2rem;
    background: #2663D1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#cydog_presentation .mini_short_info{
    padding-top: 12rem;
}
#cydog_presentation .mini_short_info h3{
    font-size: 3.4rem;
    font-weight: 400 !important;}
#cydog_presentation .mini_short_info p{
    margin-top: 2rem;
    font-size: 1.3rem;
    width: 55%;
}
#cydog_presentation iframe{
  width: 80% !important;
  margin-top: 3rem;
  border-radius:.6rem;
  -webkit-border-radius:.6rem;
  -moz-border-radius:.6rem;
  -ms-border-radius:.6rem;
  -o-border-radius:.6rem;
}

@media screen and (max-width: 768px){
    #cydog_presentation iframe{
        height: 35rem;
    }
}
@media screen and (max-width: 576px){
    #cydog_presentation iframe{
        margin-bottom: 1rem;
    }
}



/* 
---------------------------------------------
cydog browser presentation
--------------------------------------------- 
*/


/* 
---------------------------------------------
minimalist browsing css
--------------------------------------------- 
*/


#cydog_browsing_info{
    text-align: center;
}
#cydog_browsing_info .cydog_browser_big_img .head_cydog_img{
    background-color: rgb(243 243 243);
    border-radius:1rem;
    margin-bottom: 7rem;
}
#cydog_browsing_info .cydog_minimalast_info{
    padding-top: 12rem;
}
#cydog_browsing_info h3{
    font-size: 3.3rem;
    margin-bottom: 1rem;
    text-align: left;
}
#cydog_browsing_info .minimalast_short_info{
    font-size: 2rem;
    text-align: left;
}
#cydog_browsing_info .right_app_info,
#cydog_browsing_info .left_app_info{
    width: 25rem;
}
/* responsive css */
@media screen and (max-width:768px) {
    #cydog_browsing_info .cydog_minimalast_info{
        padding-top: 3rem;
    }
    #cydog_browsing_info .right_app_info,
   #cydog_browsing_info .left_app_info{
    width: 20rem;
}
}
@media screen and (max-width:576px) {
    #cydog_browsing_info h3{
        font-size: 2.5rem;
    }
    #cydog_browsing_info .minimalast_short_info{
        font-size: 1.4rem;
    }
}
/* 
---------------------------------------------
minimalist browsing css
--------------------------------------------- 
*/













/* 
---------------------------------------------
main css
--------------------------------------------- 
*/



/* 
---------------------------------------------
all section responsive css
--------------------------------------------- 
*/
@media screen and (max-width:576px){
    h2{
        font-size: 2rem !important;
    }
}